@font-face {
  font-family: "Nastaliq";
  font-style: normal;
  src: url(../fonts/IranNastaliq/IranNastaliq.ttf) format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot);
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot) format("embedded-opentype"), url(../fonts/IRANSansWeb/IRANSansWeb.woff2) format("woff2"), url(../fonts/IRANSansWeb/IRANSansWeb.woff) format("woff"), url(../fonts/IRANSansWeb/IRANSansWeb.ttf) format("truetype");
}

@font-face {
  font-family: Sahel;
  font-style: normal;
  src: url(../fonts/sahel/Sahel.eot);
  src: url(../fonts/sahel/Sahel.eot) format("embedded-opentype"), url(../fonts/sahel/Sahel.woff2) format("woff2"), url(../fonts/sahel/Sahel.woff) format("woff"), url(../fonts/sahel/Sahel.ttf) format("truetype");
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot);
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot) format("embedded-opentype"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff2) format("woff2"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff) format("woff"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.ttf) format("truetype");
}

@font-face {
  font-family: Samim;
  font-style: normal;
  src: url(../fonts/samim/Samim.eot);
  src: url(../fonts/samim/Samim.eot) format("embedded-opentype"), url(../fonts/samim/Samim.woff2) format("woff2"), url(../fonts/samim/Samim.woff) format("woff"), url(../fonts/samim/Samim.ttf) format("truetype");
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot);
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot) format("embedded-opentype"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff2) format("woff2"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff) format("woff"), url(../fonts/samim/Farsi-Digits/Samim-FD.ttf) format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  src: url(../fonts/Vazir/Vazir.eot);
  src: url(../fonts/Vazir/Vazir.eot) format("embedded-opentype"), url(../fonts/Vazir/Vazir.woff2) format("woff2"), url(../fonts/Vazir/Vazir.woff) format("woff");
}

html ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

html ::-webkit-scrollbar-thumb {
  background: rgba(27, 27, 27, 0.2);
}

html ::-webkit-scrollbar-thumb:hover {
  background: rgba(27, 27, 27, 0.75);
}

body {
  font-family: 'IRANSans';
  background-color: #faf6fb;
  font-size: 100%;
  direction: rtl;
  box-sizing: border-box;
}

body ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

body ::-webkit-scrollbar-thumb {
  background: rgba(27, 27, 27, 0.2);
}

body ::-webkit-scrollbar-thumb:hover {
  background: rgba(27, 27, 27, 0.75);
}

body ::selection {
  background-color: #FFC947;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
}

body a:focus {
  outline: 0;
}

body .container-fluid {
  padding: 0;
  margin: 0;
}

main.course-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main.course-content section.single-course {
  background-color: #0a1931;
  width: 950px;
  height: 800px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
  margin-top: 4rem;
}

main.course-content section.single-course div.single-course__image-video-course {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 2rem 0 1rem;
}

main.course-content section.single-course div.single-course__image-video-course img.single-course__image-course {
  height: 220px;
  width: 90%;
  margin-bottom: 2rem;
}

main.course-content section.single-course div.single-course__image-video-course video.single-video-course {
  width: 90%;
}

main.course-content section.single-course div.single-course__details-course {
  width: calc(100% - 300px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

main.course-content section.single-course div.single-course__details-course div.single-course__title-buton-part {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

main.course-content section.single-course div.single-course__details-course div.single-course__title-buton-part h1.single-course__title-course {
  text-align: right;
  font-weight: 600;
  color: #ffc947;
  padding: 2rem 0;
  margin-bottom: 0;
}

main.course-content section.single-course div.single-course__details-course div.single-course__title-buton-part div.single-course__price-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main.course-content section.single-course div.single-course__details-course div.single-course__title-buton-part div.single-course__price-signup span.single-course__price {
  color: rgba(244, 249, 249, 0.9);
  font-size: 90%;
  margin-bottom: .85rem;
}

main.course-content section.single-course div.single-course__details-course div.single-course__title-buton-part div.single-course__price-signup button.single-course__signup-button {
  font-weight: 500;
  border: 2px solid #ffc947;
  background-color: #ffc947;
  border-radius: 4px;
  padding: .25rem .375rem;
  width: 120px;
}

main.course-content section.single-course div.single-course__details-course div.single-course__title-buton-part div.single-course__price-signup button.single-course__signup-button:hover > a.single-course__signup-link,
main.course-content section.single-course div.single-course__details-course div.single-course__title-buton-part div.single-course__price-signup button.single-course__signup-button:focus > a.single-course__signup-link {
  color: #faf6fb;
  border: 2px solid #ffc947;
}

main.course-content section.single-course div.single-course__details-course div.single-course__title-buton-part div.single-course__price-signup button.single-course__signup-button a.single-course__signup-link {
  text-decoration: none;
  color: rgba(250, 246, 251, 0.8);
  width: 100%;
  font-size: 1.15rem;
}

main.course-content section.single-course div.single-course__details-course span.single-description-course {
  font-size: 88%;
  color: #f4f9f9;
  line-height: 28px;
  max-width: 90%;
  text-align: justify;
  margin-top: 1rem;
  padding-left: .5rem;
  max-height: 600px;
  overflow-y: auto;
  padding-bottom: 1rem;
  box-sizing: border-box;
}

main.course-content section.owl-carousel.owl-theme#courses-slider {
  width: 100%;
  padding: 1rem;
}

main.course-content section.owl-carousel.owl-theme#courses-slider div.owl-stage-outer {
  width: 100%;
  height: 100%;
}

main.course-content section.owl-carousel.owl-theme#courses-slider div.owl-stage-outer div.owl-stage {
  width: 50%;
  height: 250px;
}

main.course-content section.owl-carousel.owl-theme#courses-slider div.owl-stage-outer div.owl-stage div.owl-item {
  transform: scale(0.8);
  transition: all 0.3s ease-in;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 100%;
}

main.course-content section.owl-carousel.owl-theme#courses-slider div.owl-stage-outer div.owl-stage div.owl-item img.course-image {
  width: 100%;
  height: 100%;
}

main.course-content section.owl-carousel.owl-theme#courses-slider div.owl-nav {
  height: 100%;
}

main.course-content section.owl-carousel.owl-theme#courses-slider div.owl-nav button.owl-prev {
  color: #898989;
  position: absolute;
  top: calc(50% - 16px);
  left: 0;
  border: none;
  border-color: transparent;
}

main.course-content section.owl-carousel.owl-theme#courses-slider div.owl-nav button.owl-prev:focus, main.course-content section.owl-carousel.owl-theme#courses-slider div.owl-nav button.owl-prev:active {
  border: none;
  outline: none;
  border-color: transparent !important;
}

main.course-content section.owl-carousel.owl-theme#courses-slider div.owl-nav button.owl-prev i.fa.fa-angle-left {
  font-size: 32px;
}

main.course-content section.owl-carousel.owl-theme#courses-slider div.owl-nav button.owl-next {
  color: #898989;
  position: absolute;
  top: calc(50% - 16px);
  right: 0;
  border: none;
  border-color: transparent;
}

main.course-content section.owl-carousel.owl-theme#courses-slider div.owl-nav button.owl-next:focus, main.course-content section.owl-carousel.owl-theme#courses-slider div.owl-nav button.owl-next:active {
  border: none;
  outline: none;
  border-color: transparent !important;
}

main.course-content section.owl-carousel.owl-theme#courses-slider div.owl-nav button.owl-next i.fa.fa-angle-right {
  font-size: 32px;
}

main.course-content section.owl-carousel.owl-theme#courses-slider div.owl-nav button.owl-next.disabled,
main.course-content section.owl-carousel.owl-theme#courses-slider div.owl-nav button.owl-prev.disabled {
  opacity: .3;
}

main.course-content section.owl-carousel.owl-theme#courses-slider div.item-slide {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60vh;
  max-height: 60vh;
  width: 100%;
  padding: 1rem;
}

main.course-content section.owl-carousel.owl-theme#courses-slider div.item-slide div.image-gallery__box {
  position: relative;
  display: flex;
  direction: ltr;
  transition: .2s all;
  width: 45%;
  height: 100%;
  background: #1b1b1b;
  border: 1px solid rgba(27, 27, 27, 0.25);
}

main.course-content section.owl-carousel.owl-theme#courses-slider div.item-slide div.image-gallery__box img.image-gallery__slide {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=course.css.map */