@font-face {
  font-family: "Nastaliq";
  font-style: normal;
  src: url(../fonts/IranNastaliq/IranNastaliq.ttf) format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot);
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot) format("embedded-opentype"), url(../fonts/IRANSansWeb/IRANSansWeb.woff2) format("woff2"), url(../fonts/IRANSansWeb/IRANSansWeb.woff) format("woff"), url(../fonts/IRANSansWeb/IRANSansWeb.ttf) format("truetype");
}

@font-face {
  font-family: Sahel;
  font-style: normal;
  src: url(../fonts/sahel/Sahel.eot);
  src: url(../fonts/sahel/Sahel.eot) format("embedded-opentype"), url(../fonts/sahel/Sahel.woff2) format("woff2"), url(../fonts/sahel/Sahel.woff) format("woff"), url(../fonts/sahel/Sahel.ttf) format("truetype");
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot);
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot) format("embedded-opentype"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff2) format("woff2"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff) format("woff"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.ttf) format("truetype");
}

@font-face {
  font-family: Samim;
  font-style: normal;
  src: url(../fonts/samim/Samim.eot);
  src: url(../fonts/samim/Samim.eot) format("embedded-opentype"), url(../fonts/samim/Samim.woff2) format("woff2"), url(../fonts/samim/Samim.woff) format("woff"), url(../fonts/samim/Samim.ttf) format("truetype");
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot);
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot) format("embedded-opentype"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff2) format("woff2"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff) format("woff"), url(../fonts/samim/Farsi-Digits/Samim-FD.ttf) format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  src: url(../fonts/Vazir/Vazir.eot);
  src: url(../fonts/Vazir/Vazir.eot) format("embedded-opentype"), url(../fonts/Vazir/Vazir.woff2) format("woff2"), url(../fonts/Vazir/Vazir.woff) format("woff");
}

html ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

html ::-webkit-scrollbar-thumb {
  background: rgba(27, 27, 27, 0.2);
}

html ::-webkit-scrollbar-thumb:hover {
  background: rgba(27, 27, 27, 0.75);
}

body {
  font-family: 'IRANSans';
  background-color: #faf6fb;
  font-size: 100%;
  direction: rtl;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

body ::-webkit-scrollbar-thumb {
  background: rgba(244, 249, 249, 0.2);
}

body ::-webkit-scrollbar-thumb:hover {
  background: rgba(244, 249, 249, 0.75);
}

body ::-moz-selection {
  background-color: #FFC947;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
}

body ::selection {
  background-color: #FFC947;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
}

body a:focus {
  outline: 0;
}

body .container-fluid {
  padding: 0;
  margin: 0;
}

nav.main-navbar {
  width: 100%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: auto 1rem;
}

nav.main-navbar div.main-navbar__hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45px;
  width: 45px;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 12001;
}

nav.main-navbar div.main-navbar__hamburger-menu span.ti-menu {
  color: rgba(244, 249, 249, 0.75);
  height: 100%;
  width: 100%;
  font-size: 30px;
}

nav.main-navbar div.main-navbar__hamburger-menu span.ti-menu:hover {
  color: #f4f9f9;
}

nav.main-navbar img.main-navbar__logo {
  height: 45px;
  width: 45px;
  position: fixed;
  top: 0.5rem;
  left: 2rem;
}

div#coll-navbar {
  z-index: 12000;
  position: fixed;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

div.collapse#coll-navbar {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

div.collapse.show#coll-navbar {
  height: 100%;
  right: 0;
  padding-right: 1rem;
  top: 0;
  background-color: #0a1931;
  width: 250px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  overflow-y: auto;
}

div.collapse.show#coll-navbar ul.navbar-nav {
  padding-top: 4rem;
  background-color: #0a1931;
}

div.collapse.show#coll-navbar ul.navbar-nav li.nav-item {
  padding: 1rem 1rem;
  position: relative;
}

div.collapse.show#coll-navbar ul.navbar-nav li.nav-item a.nav-link.nav-link-menu {
  width: 100%;
  height: 100%;
  padding: 0;
  color: rgba(244, 249, 249, 0.75);
}

div.collapse.show#coll-navbar ul.navbar-nav li.nav-item a.nav-link.nav-link-menu:hover {
  color: #f4f9f9;
}

div.collapse.show#coll-navbar ul.navbar-nav li.nav-item a.nav-link.nav-link-menu.nav-link-signup {
  font-size: 16px;
  font-weight: 600;
  color: #FFC947;
}

div.collapse.show#coll-navbar ul.navbar-nav li.nav-item a.nav-link.nav-link-menu.nav-link-signup:hover {
  color: #f4f9f9;
}

div.collapse.show#coll-navbar ul.navbar-nav li.nav-item i.arrow-left {
  position: absolute;
  left: 1rem;
  top: 1.5rem;
  -webkit-animation: none;
          animation: none;
  font-size: 14px;
  margin-left: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: rgba(244, 249, 249, 0.75);
}

div.collapse.show#coll-navbar ul.navbar-nav div#sub-menu-item {
  padding-right: 3rem;
  width: 100%;
}

div.collapse.show#coll-navbar ul.navbar-nav div#sub-menu-item ul.menu-collapse {
  width: 100%;
}

div.collapse.show#coll-navbar ul.navbar-nav div#sub-menu-item ul.menu-collapse li.nav-item-menu-collapse a.nav-link-menu-collapse-link {
  width: 100%;
  height: 100%;
  color: rgba(244, 249, 249, 0.75);
}

div.collapse.show#coll-navbar ul.navbar-nav div#sub-menu-item ul.menu-collapse li.nav-item-menu-collapse a.nav-link-menu-collapse-link:hover {
  color: #f4f9f9;
}

div.collapsing#coll-navbar {
  height: 100%;
  right: 0;
  top: 0;
  padding-right: 1rem;
  background-color: #0a1931;
  width: 250px;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

div.collapsing#coll-navbar ul.navbar-nav {
  overflow-y: auto;
  padding-top: 4rem;
}

div.collapsing#coll-navbar ul.navbar-nav li.nav-item {
  padding: 1rem 1rem;
  position: relative;
}

div.collapsing#coll-navbar ul.navbar-nav li.nav-item a.nav-link.nav-link-menu {
  width: 100%;
  height: 100%;
  padding: 0;
  color: rgba(244, 249, 249, 0.75);
}

div.collapsing#coll-navbar ul.navbar-nav li.nav-item a.nav-link.nav-link-menu:hover {
  color: #f4f9f9;
}

div.collapsing#coll-navbar ul.navbar-nav li.nav-item a.nav-link.nav-link-menu.nav-link-signup {
  font-size: 16px;
  font-weight: 600;
  color: #FFC947;
}

div.collapsing#coll-navbar ul.navbar-nav li.nav-item a.nav-link.nav-link-menu.nav-link-signup:hover {
  color: #f4f9f9;
}

div.collapsing#coll-navbar ul.navbar-nav li.nav-item i.arrow-left {
  position: absolute;
  left: 1rem;
  top: 1.5rem;
  -webkit-animation: none;
          animation: none;
  font-size: 14px;
  margin-left: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: rgba(244, 249, 249, 0.75);
}

div.collapsing#coll-navbar ul.navbar-nav div#sub-menu-item {
  padding-right: 3rem;
  width: 100%;
}

div.collapsing#coll-navbar ul.navbar-nav div#sub-menu-item ul.menu-collapse {
  width: 100%;
}

div.collapsing#coll-navbar ul.navbar-nav div#sub-menu-item ul.menu-collapse li.nav-item-menu-collapse a.nav-link-menu-collapse-link {
  width: 100%;
  height: 100%;
  color: rgba(244, 249, 249, 0.75);
}

div.collapsing#coll-navbar ul.navbar-nav div#sub-menu-item ul.menu-collapse li.nav-item-menu-collapse a.nav-link-menu-collapse-link:hover {
  color: #f4f9f9;
}
/*# sourceMappingURL=menu.css.map */