@font-face {
  font-family: "Nastaliq";
  font-style: normal;
  src: url(../fonts/IranNastaliq/IranNastaliq.ttf) format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot);
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot) format("embedded-opentype"), url(../fonts/IRANSansWeb/IRANSansWeb.woff2) format("woff2"), url(../fonts/IRANSansWeb/IRANSansWeb.woff) format("woff"), url(../fonts/IRANSansWeb/IRANSansWeb.ttf) format("truetype");
}

@font-face {
  font-family: Sahel;
  font-style: normal;
  src: url(../fonts/sahel/Sahel.eot);
  src: url(../fonts/sahel/Sahel.eot) format("embedded-opentype"), url(../fonts/sahel/Sahel.woff2) format("woff2"), url(../fonts/sahel/Sahel.woff) format("woff"), url(../fonts/sahel/Sahel.ttf) format("truetype");
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot);
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot) format("embedded-opentype"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff2) format("woff2"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff) format("woff"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.ttf) format("truetype");
}

@font-face {
  font-family: Samim;
  font-style: normal;
  src: url(../fonts/samim/Samim.eot);
  src: url(../fonts/samim/Samim.eot) format("embedded-opentype"), url(../fonts/samim/Samim.woff2) format("woff2"), url(../fonts/samim/Samim.woff) format("woff"), url(../fonts/samim/Samim.ttf) format("truetype");
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot);
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot) format("embedded-opentype"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff2) format("woff2"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff) format("woff"), url(../fonts/samim/Farsi-Digits/Samim-FD.ttf) format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  src: url(../fonts/Vazir/Vazir.eot);
  src: url(../fonts/Vazir/Vazir.eot) format("embedded-opentype"), url(../fonts/Vazir/Vazir.woff2) format("woff2"), url(../fonts/Vazir/Vazir.woff) format("woff");
}

html ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

html ::-webkit-scrollbar-thumb {
  background: rgba(27, 27, 27, 0.2);
}

html ::-webkit-scrollbar-thumb:hover {
  background: rgba(27, 27, 27, 0.75);
}

body {
  font-family: 'IRANSans';
  background-color: #faf6fb;
  font-size: 100%;
  direction: rtl;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

body ::-webkit-scrollbar-thumb {
  background: rgba(244, 249, 249, 0.2);
}

body ::-webkit-scrollbar-thumb:hover {
  background: rgba(244, 249, 249, 0.75);
}

body ::-moz-selection {
  background-color: #FFC947;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
}

body ::selection {
  background-color: #FFC947;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
}

body a:focus {
  outline: 0;
}

body .container-fluid {
  padding: 0;
  margin: 0;
}

main.signup-login-page {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main.signup-login-page section.signup-login-content {
  width: 950px;
  margin: 2rem;
  background-color: #f4f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box h2.signup-login-content__title {
  color: #ffc947;
  font-weight: 600;
  text-align: right;
  padding: 2rem;
  margin-bottom: 0;
  width: 100%;
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0a1931;
  padding: 1rem;
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form div.form__group {
  width: 100%;
  position: relative;
  padding: 1rem 1rem 0;
  margin-top: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form div.form__group .form__field {
  width: 95%;
  border: 0;
  border-bottom: 2px solid rgba(137, 137, 137, 0.75);
  outline: 0;
  font-size: 90%;
  color: rgba(244, 249, 249, 0.75);
  padding: 8px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
  margin: .5rem 0;
  font-weight: 500;
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form div.form__group .form__field::-webkit-input-placeholder {
  color: transparent;
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form div.form__group .form__field:-ms-input-placeholder {
  color: transparent;
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form div.form__group .form__field::-ms-input-placeholder {
  color: transparent;
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form div.form__group .form__field::placeholder {
  color: transparent;
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form div.form__group .form__field:placeholder-shown ~ .form__label {
  cursor: text;
  top: 2rem;
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form div.form__group label.form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 95%;
  color: rgba(244, 249, 249, 0.85);
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form div.form__group .form__field:focus {
  padding-bottom: 6px;
  font-weight: 600;
  border-width: 3px;
  -o-border-image: linear-gradient(to left, rgba(244, 249, 249, 0.85), rgba(244, 249, 249, 0.5));
     border-image: -webkit-gradient(linear, right top, left top, from(rgba(244, 249, 249, 0.85)), to(rgba(244, 249, 249, 0.5)));
     border-image: linear-gradient(to left, rgba(244, 249, 249, 0.85), rgba(244, 249, 249, 0.5));
  border-image-slice: 1;
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form div.form__group .form__field:focus ~ label.form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: rgba(244, 249, 249, 0.95);
  font-weight: 600;
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form div.form__group .form__field:required, main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form div.form__group .form__field:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form div.form__group span.form__field__error {
  color: red;
  font-size: 12px;
  font-weight: 600;
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form div.remember-field {
  position: relative;
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form div.remember-field input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form div.remember-field label.form__label-remember {
  position: absolute;
  right: 36px;
  top: 24px;
  color: rgba(244, 249, 249, 0.75);
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form div.remember-field .form__field:focus ~ label.form__label-remember {
  color: rgba(244, 249, 249, 0.8);
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form span.signup-login-content__form-rules-text {
  font-size: 85%;
  margin-top: 1rem;
  text-align: center;
  line-height: 1.8;
  padding: 1rem;
  color: #f4f9f9;
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form button.signup-login-content__button {
  font-weight: 500;
  border: 2px solid rgba(255, 201, 71, 0.95);
  background-color: #ffc947;
  border-radius: 4px;
  padding: 0;
  width: 120px;
  color: rgba(0, 0, 0, 0.8);
  margin: 2rem 0 2rem 1rem;
  font-size: 1.15rem;
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form button.signup-login-content__button:hover, main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form button.signup-login-content__button:focus {
  color: black;
  border: 2px solid #ffc947;
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form a.signup-login-content__forgot-pasword {
  font-weight: 600;
  color: #ffc947;
  font-size: 14px;
  width: 100%;
  text-align: right;
  text-decoration: none;
  padding-bottom: .5rem;
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form a.signup-login-content__forgot-pasword:hover {
  text-decoration: underline;
}

main.signup-login-page section.signup-login-content div.signup-login-content__form-box form.signup-login-content__form div.signup-login-content__form-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
/*# sourceMappingURL=signup-login.css.map */