@import './../base';


@media(max-width : 768px) {

    main {
        section.slider-section {
            height: 100vh;

            div.image-gallery.owl-carousel.owl-theme {
                width: 80%;
                height: 70%;

                div.owl-stage-outer {
                    div.owl-stage {
                        div.owl-item {
                            img.image-gallery__slide {}
                        }
                    }
                }

                div.owl-nav {
                    button.owl-prev {
                        i.fa.fa-angle-left {
                            font-size: 32px;
                        }
                    }

                    button.owl-next {}

                    button.owl-next.disabled,
                    button.owl-prev.disabled {}
                }

                div.item-slide {
                    height: 60vh;
                    max-height: 60vh;

                    span.item-slide__text {
                        width: 40%;
                    }

                    div.image-gallery__box {
                        width: 45%;

                        img.image-gallery__slide {}
                    }
                }
            }
        }

        section.slider-courses {
            height: 450px;
            max-height: 500px;

            div.swiper-container.mySwiper {
                img.swiper-slide {
                    width: calc(100% / 6);
                    height: calc((100% - 30px) / 2);
                    max-height: 150px;

                }
            }
        }

        section.library-content {
            height: max-content;

            h3.library-content__title {
                margin-bottom: 1rem;
                margin-top: 3rem;
            }

            div.library-content__parent {
                flex-direction: column;

                div.library-content__box {
                    width: 100%;
                    height: 50vh;

                    img.library-content__image {
                        width: 180px;
                    }

                    span.library-content__description {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    footer {
        section.footer-medias {
            height: 400px;
            flex-direction: column;
            justify-content: space-around;

            a.footer-medias__icon-link {
                width: 100%;
                height: 25%;
                display: flex;
                align-items: center;
                justify-content: center;

                i.footer-medias__icon {}
            }
        }

        section.footer-middle {
            div.footer-middle__contact-box {
                i.footer-middle__icon {}

                span.footer-middle__title {}
            }
        }

        section.footer-privacy {
            span.footer-privacy__description {}
        }
    }
}

@media (max-width : 576px) {

    main {
        section.slider-section {
            height: 100vh;

            div.image-gallery.owl-carousel.owl-theme {
                width: 80%;
                height: 70%;

                div.owl-stage-outer {
                    div.owl-stage {
                        div.owl-item {
                            img.image-gallery__slide {}
                        }
                    }
                }

                div.owl-nav {
                    button.owl-prev {
                        i.fa.fa-angle-left {
                            font-size: 32px;
                        }
                    }

                    button.owl-next {}

                    button.owl-next.disabled,
                    button.owl-prev.disabled {}
                }

                div.item-slide {
                    height: 60vh;
                    max-height: 60vh;

                    span.item-slide__text {
                        width: 40%;
                    }

                    div.image-gallery__box {
                        width: 45%;

                        img.image-gallery__slide {}
                    }
                }
            }
        }

        section.slider-courses {
            height: 320px;
            max-height: 340px;
            padding: 2rem;

            div.swiper-container.mySwiper {
                margin-right: 0;

                img.swiper-slide {
                    width: calc(100% / 6);
                    height: calc((100% - 30px) / 2);
                    max-height: 105px;
                    margin: auto 0 !important;

                }
            }
        }

        section.library-content {
            h3.library-content__title {
                margin-top: 2rem;
            }

            div.library-content__parent {
                div.library-content__box {
                    img.library-content__image {}

                    span.library-content__description {}
                }
            }
        }
    }

    footer {
        section.footer-medias {
            a.footer-medias__icon-link {
                i.footer-medias__icon {}
            }
        }

        section.footer-middle {
            flex-direction: column;

            div.footer-middle__contact-box {
                width: 100%;
                height: calc(100% / 3);

                i.footer-middle__icon {}

                span.footer-middle__title {}
            }
        }

        section.footer-privacy {
            span.footer-privacy__description {}
        }
    }
}