@import './../base';

@media (max-width : 991px) {
    main.consultation-request {
        h1.consultation-request__title {}

        section.consultation-request__content {
            flex-direction: column;
            align-items: center;

            div.consultation-request__image-placeholder {
                margin: 0 1rem 2rem;

                img.consultation-request__image {}
            }

            div.consultation-request__form-placeholder {
                width: 70%;

                form.consultation-request__form {
                    width: 90%;

                    div.form__group {
                        .form__field {}

                        label.form__label {}

                        .form__field:focus {
                            ~label.form__label {}

                        }

                        .form__field {}

                        span.form__field__error {}
                    }

                    div.status-group {

                        div.status-group-fields {
                            div.form__group.status_field {
                                .form__field {}

                                .form__label {}

                            }
                        }

                        span.form__field__error {}
                    }

                    button.consultation-request__form__button {}
                }
            }
        }
    }
}

@media (max-width : 768px) {
    main.consultation-request {
        h1.consultation-request__title {}

        section.consultation-request__content {
            div.consultation-request__image-placeholder {
                width: 220px;
                height: 220px;

                img.consultation-request__image {}
            }

            div.consultation-request__form-placeholder {
                width: 85%;

                form.consultation-request__form {
                    div.form__group {
                        .form__field {}

                        label.form__label {}

                        .form__field:focus {
                            ~label.form__label {}
                        }

                        .form__field {}

                        span.form__field__error {}
                    }

                    div.status-group {

                        div.status-group-fields {
                            div.form__group.status_field {
                                .form__field {}

                                .form__label {}

                            }
                        }

                        span.form__field__error {}
                    }

                    button.consultation-request__form__button {}
                }
            }
        }
    }
}