@import './../base';

@media (max-width : 991px) {
    main.consultation-request {
        h1.consultation-request__title {
            width: 80%;
        }

        section.consultation-request__content {
            flex-direction: column;
            align-items: center;
            width: 80%;

            div.consultation-request__image-placeholder {
                margin: 0 1rem 2rem;

                img.consultation-request__image {}
            }

            div.consultation-request__form-placeholder {
                width: 70%;

                form.consultation-request__form {
                    width: 90%;

                    div.form__group {
                        .form__field {}

                        label.form__label {}

                        .form__field:focus {
                            ~label.form__label {}

                        }

                        .form__field {}

                        span.form__field__error {}
                    }

                    div.status-group {

                        div.status-group-fields {
                            div.form__group.status_field {
                                .form__field {}

                                .form__label {}

                            }
                        }

                        span.form__field__error {}
                    }

                    button.consultation-request__form__button {}
                }
            }
        }
    }
}

@media (max-width : 768px) {
    main.consultation-request {
        h1.consultation-request__title {
            width: 85%;
        }

        section.consultation-request__content {
            width: 85%;

            div.consultation-request__image-placeholder {
                width: 220px;
                height: 220px;

                img.consultation-request__image {}
            }

            div.consultation-request__form-placeholder {
                width: 85%;

                form.consultation-request__form {

                    div.form__group {
                        .form__field {}

                        label.form__label {}

                        .form__field:focus {
                            ~label.form__label {}
                        }

                        .form__field {}

                        span.form__field__error {}
                    }

                    div.status-group {

                        div.status-group-fields {
                            div.form__group.status_field {
                                .form__field {}

                                .form__label {}

                            }
                        }

                        span.form__field__error {}
                    }

                    button.consultation-request__form__button {}
                }
            }
        }
    }
}

@media (max-width : 576px) {
    main.consultation-request {
        h1.consultation-request__title {
            width: 100%;

        }

        section.consultation-request__content {
            width: 100%;

            div.consultation-request__image-placeholder {
                width: 200px;
                height: 200px;

                img.consultation-request__image {}
            }

            div.consultation-request__form-placeholder {
                width: 100%;

                form.consultation-request__form {
                    div.form__group {
                        padding: 0;

                        .form__field {}

                        label.form__label {
                            font-size: 14px;
                        }

                        .form__field:focus {
                            ~label.form__label {}
                        }

                        .form__field {}

                        span.form__field__error {}
                    }

                    div.status-group {
                        padding: 0;

                        div.status-group-fields {
                            div.form__group.status_field {
                                width: 90px;

                                .form__field {
                                    width: 16px;
                                    height: 16px;
                                }

                                .form__label {
                                    font-size: 14px;
                                    right: 20px;

                                }

                            }
                        }

                        span.form__field__error {}
                    }

                    button.consultation-request__form__button {}
                }
            }
        }
    }
}