@font-face {
  font-family: "Nastaliq";
  font-style: normal;
  src: url(../fonts/IranNastaliq/IranNastaliq.ttf) format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot);
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot) format("embedded-opentype"), url(../fonts/IRANSansWeb/IRANSansWeb.woff2) format("woff2"), url(../fonts/IRANSansWeb/IRANSansWeb.woff) format("woff"), url(../fonts/IRANSansWeb/IRANSansWeb.ttf) format("truetype");
}

@font-face {
  font-family: Sahel;
  font-style: normal;
  src: url(../fonts/sahel/Sahel.eot);
  src: url(../fonts/sahel/Sahel.eot) format("embedded-opentype"), url(../fonts/sahel/Sahel.woff2) format("woff2"), url(../fonts/sahel/Sahel.woff) format("woff"), url(../fonts/sahel/Sahel.ttf) format("truetype");
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot);
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot) format("embedded-opentype"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff2) format("woff2"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff) format("woff"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.ttf) format("truetype");
}

@font-face {
  font-family: Samim;
  font-style: normal;
  src: url(../fonts/samim/Samim.eot);
  src: url(../fonts/samim/Samim.eot) format("embedded-opentype"), url(../fonts/samim/Samim.woff2) format("woff2"), url(../fonts/samim/Samim.woff) format("woff"), url(../fonts/samim/Samim.ttf) format("truetype");
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot);
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot) format("embedded-opentype"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff2) format("woff2"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff) format("woff"), url(../fonts/samim/Farsi-Digits/Samim-FD.ttf) format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  src: url(../fonts/Vazir/Vazir.eot);
  src: url(../fonts/Vazir/Vazir.eot) format("embedded-opentype"), url(../fonts/Vazir/Vazir.woff2) format("woff2"), url(../fonts/Vazir/Vazir.woff) format("woff");
}

html ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

html ::-webkit-scrollbar-thumb {
  background: rgba(27, 27, 27, 0.2);
}

html ::-webkit-scrollbar-thumb:hover {
  background: rgba(27, 27, 27, 0.75);
}

body {
  font-family: 'IRANSans';
  background-color: #faf6fb;
  font-size: 100%;
  direction: rtl;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

body ::-webkit-scrollbar-thumb {
  background: rgba(244, 249, 249, 0.2);
}

body ::-webkit-scrollbar-thumb:hover {
  background: rgba(244, 249, 249, 0.75);
}

body ::-moz-selection {
  background-color: #FFC947;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
}

body ::selection {
  background-color: #FFC947;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
}

body a:focus {
  outline: 0;
}

body .container-fluid {
  padding: 0;
  margin: 0;
}

@media (max-width: 991px) {
  main.container-fluid.contact-us section.contact-us-content div.contact-us-content__text {
    width: 70%;
  }
  main.container-fluid.contact-us section.contact-us-content div.contact-us-content__text span.contact-us-content__description {
    font-size: 90%;
  }
  main.container-fluid.contact-us section.contact-us-content div.contact-us-content__contact-box {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
  }
  main.container-fluid.contact-us section.contact-us-content div.contact-us-content__contact-box aside.contact-us-content__social-media {
    width: 100%;
    position: relative;
    top: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
  main.container-fluid.contact-us section.contact-us-content div.contact-us-content__contact-box aside.contact-us-content__social-media div.contact-us-content__social-media-box {
    padding: .2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  main.container-fluid.contact-us section.contact-us-content div.contact-us-content__contact-box aside.contact-us-content__social-media div.contact-us-content__social-media-box i.contact-us-content__social-media-icon {
    font-size: 20px;
    padding: .5rem;
  }
  main.container-fluid.contact-us section.contact-us-content div.contact-us-content__contact-box aside.contact-us-content__social-media div.contact-us-content__social-media-box a.contact-us-content__social-media-link {
    font-size: 85%;
  }
  main.container-fluid.contact-us section.contact-us-content div.contact-us-content__contact-box form.contact-us-content__form {
    width: 95%;
  }
  main.container-fluid.contact-us section.contact-us-content div.contact-us-content__contact-box form.contact-us-content__form div.form__group {
    padding: 1rem 1rem 0;
    margin-top: 1rem;
  }
  main.container-fluid.contact-us section.contact-us-content div.contact-us-content__contact-box form.contact-us-content__form div.form__group .form__field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgba(244, 249, 249, 0.75);
    outline: 0;
    font-size: 90%;
    color: rgba(244, 249, 249, 0.75);
    padding: 8px 0;
    background: transparent;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
    margin-bottom: .5rem;
  }
  main.container-fluid.contact-us section.contact-us-content div.contact-us-content__contact-box form.contact-us-content__form div.form__group label.form__label {
    position: absolute;
    top: 0;
    display: block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    font-size: 95%;
    color: rgba(137, 137, 137, 0.75);
  }
  main.container-fluid.contact-us section.contact-us-content div.contact-us-content__contact-box form.contact-us-content__form div.form__group .form__field:focus {
    padding-bottom: 6px;
    border-width: 3px;
    -o-border-image: linear-gradient(to left, rgba(244, 249, 249, 0.85), rgba(244, 249, 249, 0.5));
       border-image: -webkit-gradient(linear, right top, left top, from(rgba(244, 249, 249, 0.85)), to(rgba(244, 249, 249, 0.5)));
       border-image: linear-gradient(to left, rgba(244, 249, 249, 0.85), rgba(244, 249, 249, 0.5));
    border-image-slice: 1;
  }
  main.container-fluid.contact-us section.contact-us-content div.contact-us-content__contact-box form.contact-us-content__form button.contact-us-content__form__button {
    padding: 0;
    width: 120px;
    margin: 2rem 0 2rem 1rem;
  }
}

@media (max-width: 576px) {
  main.container-fluid.contact-us section.contact-us-content div.contact-us-content__text {
    width: 95%;
  }
  main.container-fluid.contact-us section.contact-us-content div.contact-us-content__text span.contact-us-content__description {
    font-size: 14px;
  }
  main.container-fluid.contact-us section.contact-us-content div.contact-us-content__contact-box {
    margin: 0 2rem 2rem;
    width: calc(90% - 6rem);
  }
  main.container-fluid.contact-us section.contact-us-content div.contact-us-content__contact-box aside.contact-us-content__social-media div.contact-us-content__social-media-box a.contact-us-content__social-media-link {
    font-size: 85%;
  }
  main.container-fluid.contact-us section.contact-us-content div.contact-us-content__contact-box form.contact-us-content__form {
    width: 100%;
  }
  main.container-fluid.contact-us section.contact-us-content div.contact-us-content__contact-box form.contact-us-content__form div.form__group label.form__label {
    font-size: 14px;
  }
}

@media (max-width: 475px) {
  main.container-fluid.contact-us section.contact-us-content div.contact-us-content__contact-box {
    margin: 0 0rem 1rem;
    width: 90%;
  }
}
/*# sourceMappingURL=mediaContact-us.css.map */