@import './base';

main.about-us {
    width: 100%;

    section.about-us-content {
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: $color-light-2, $alpha: 1.0);

        h1.h3.about-us-content__title {
            color: rgba($color:$color-gray-2, $alpha: .85);
            font-weight: 600;
            text-align: center;
            padding: 2rem;
            margin-bottom: 0;
        }

        div.about-us-content__main-box {
            width: 950px;
            height: 75%;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            background-color: rgba($color: $color-banner-box, $alpha: 1.0);
            margin: 0 2rem 4rem;
            padding-top: 3rem;

            div.about-us-content__image-placeholder {
                width: 250px;
                height: 250px;
                background-color: rgba($color: $color-gray, $alpha: .08);

                img.about-us-content__image {
                    width: 100%;
                    height: 100%;
                }
            }

            span.about-us-content__description {
                font-size: 95%;
                padding: 0 2rem;
                margin: 0 0 1rem;
                box-sizing: border-box;
                color: rgba($color: $color-font, $alpha: 1.0);
                line-height: 24px;
                width: calc(100% - 300px);
                max-width: calc(100% - 300px);
                text-align: justify;
                max-height: 80%;
                overflow-y: auto;
            }
        }
    }
}