@import './base';

main.consultation-request {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1.consultation-request__title {
        color: rgba($color:$color-button, $alpha: 1.0);
        font-weight: 600;
        text-align: center;
        padding: 2rem 2rem 1rem;
        margin: 3rem 2rem 0;
        background-color: rgba($color: $color-banner-box, $alpha: 1.0);
        width: 950px;
    }

    section.consultation-request__content {
        width: 950px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 2rem;
        background-color: rgba($color: $color-banner-box, $alpha: 1.0);
        margin-bottom: 2rem;

        div.consultation-request__image-placeholder {
            width: 250px;
            height: 220px;
            background-color: rgba($color: $color-gray, $alpha: .08);
            margin: 3rem 1rem 0 0rem;

            img.consultation-request__image {
                width: 100%;
                height: 100%;
            }
        }

        div.consultation-request__form-placeholder {
            width: calc(100% - 250px);
            background-color: rgba($color: $color-banner-box, $alpha: 1.0);

            form.consultation-request__form {
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;

                div.form__group {
                    width: 90%;
                    position: relative;
                    padding: 1rem 1rem 0;
                    margin-top: 1rem;
                    flex-direction: column;
                    display: flex;

                    .form__field {
                        width: 100%;
                        border: 0;
                        border-bottom: 2px solid rgba($color: $color-gray, $alpha: .75);
                        outline: 0;
                        font-size: 90%;
                        color: rgba($color: $color-font, $alpha: .75);
                        padding: 8px 0;
                        background: transparent;
                        transition: border-color 0.2s;
                        margin: .5rem 0;
                        font-weight: 500;

                        &::placeholder {
                            color: transparent;
                        }

                        &:placeholder-shown~.form__label {
                            cursor: text;
                            top: 2rem;
                        }
                    }

                    label.form__label {
                        position: absolute;
                        top: 0;
                        display: block;
                        transition: 0.2s;
                        font-size: 95%;
                        color: rgba($color: $color-font, $alpha: .75);
                    }

                    .form__field:focus {
                        ~label.form__label {
                            position: absolute;
                            top: 0;
                            display: block;
                            transition: 0.2s;
                            color: rgba($color: $color-font, $alpha: .8);
                            font-weight: 600;
                        }

                        padding-bottom: 6px;
                        font-weight: 600;
                        border-width: 3px;
                        border-image: linear-gradient(to left, rgba($color: $color-font, $alpha: .85), rgba($color: $color-font, $alpha: .5));
                        border-image-slice: 1;
                    }

                    .form__field {

                        &:required,
                        &:invalid {
                            box-shadow: none;
                        }
                    }

                    span.form__field__error {
                        color: rgba($color: red, $alpha: 1.0);
                        font-size: 12px;
                        font-weight: 600;
                    }
                }

                div.status-group {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    padding: 1rem 1rem 0;
                    margin-top: 1rem;
                    width: 90%;

                    div.status-group-fields {
                        display: flex;

                        div.form__group.status_field {
                            display: flex;
                            width: 120px;
                            padding: 0;
                            margin-top: 0;
                            position: relative;

                            .form__field {
                                width: 18px;
                                height: 18px;
                            }

                            .form__label {
                                position: absolute;
                                right: 25px;
                                top: .5rem;
                            }

                        }
                    }


                    span.form__field__error {
                        margin-top: .75rem;
                        color: rgba($color: red, $alpha: 1.0);
                        font-size: 12px;
                        font-weight: 600;
                    }
                }


                button.consultation-request__form__button {

                    font-weight: 500;
                    border: 2px solid rgba($color: $color-button, $alpha: .95);
                    background-color: rgba($color: $color-button, $alpha: 1.0);
                    border-radius: 4px;
                    padding: 0;
                    width: 120px;
                    color: rgba($color: $color-btn-text, $alpha: .8);
                    margin: 2rem 0 2rem 1rem;
                    font-size: 1.15rem;

                    &:hover,
                    &:focus {
                        color: rgba($color: $color-btn-text, $alpha: 1.0);
                        border: 2px solid rgba($color: $color-button, $alpha: 1.0);
                    }
                }
            }
        }
    }
}