@import './base';

main.container-fluid.contact-us {

    width: 100%;

    section.contact-us-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        div.contact-us-content__text {
            width: 900px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1.contact-us-content__title {
                color: rgba($color:$color-gray-2, $alpha: .85);
                font-weight: 600;
                text-align: center;
                padding: 2rem 0;
                margin-bottom: 0;
            }

            span.contact-us-content__description {
                font-size: 95%;
                padding: 2rem;
                box-sizing: border-box;
                color: rgba($color: $color-gray, $alpha: .95);
                line-height: 26px;
                text-align: justify;
            }
        }

        div.contact-us-content__contact-box {
            width: 950px;
            display: flex;
            justify-content: center;

            background-color: rgba($color: $color-gray, $alpha: .08);
            padding: 2rem 1.5rem 0;
            margin: 0 3rem 2rem;

            aside.contact-us-content__social-media {
                width: 25%;
                position: relative;
                top: 3rem;

                div.contact-us-content__social-media-box {
                    padding: .35rem 0;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    &:hover>a.contact-us-content__social-media-link,
                    &:hover>i.contact-us-content__social-media-icon {
                        color: rgba($color: $color-pink-light, $alpha: .95);

                    }

                    i.contact-us-content__social-media-icon {
                        font-size: 24px;
                        color: rgba($color: $color-gray-2, $alpha: .85);
                        background-color: rgba($color: $color-gray, $alpha: .2);
                        padding: .75rem;
                        border-radius: 50%;
                    }

                    a.contact-us-content__social-media-link {
                        direction: ltr;
                        text-decoration: none;
                        color: rgba($color: $color-gray-2, $alpha: .5);
                        padding-right: .5rem;
                        font-size: 14px;
                    }
                }
            }

            form.contact-us-content__form {
                width: 75%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                padding-right: 1rem;

                div.form__group {
                    width: 100%;
                    position: relative;
                    padding: 1rem 1rem 0;
                    margin-top: 1rem;
                    flex-direction: column;
                    display: flex;

                    .form__field {
                        width: 95%;
                        border: 0;
                        border-bottom: 2px solid rgba($color: $color-gray, $alpha: .75);
                        outline: 0;
                        font-size: 90%;
                        color: rgba($color: $color-gray-2, $alpha: .75);
                        padding: 8px 0;
                        background: transparent;
                        transition: border-color 0.2s;
                        margin: .5rem 0;
                        font-weight: 500;

                        &::placeholder {
                            color: transparent;
                        }

                        &:placeholder-shown~.form__label {
                            cursor: text;
                            top: 2rem;
                        }
                    }

                    label.form__label {
                        position: absolute;
                        top: 0;
                        display: block;
                        transition: 0.2s;
                        font-size: 95%;
                        color: rgba($color: $color-gray, $alpha: .75);
                    }

                    .form__field:focus {
                        ~label.form__label {
                            position: absolute;
                            top: 0;
                            display: block;
                            transition: 0.2s;
                            color: rgba($color: $color-gray-2, $alpha: .8);
                            font-weight: 600;
                        }

                        padding-bottom: 6px;
                        font-weight: 600;
                        border-width: 3px;
                        border-image: linear-gradient(to left, rgba($color: $color-gray-2, $alpha: .85), rgba($color: $color-gray-2, $alpha: .5));
                        border-image-slice: 1;
                    }

                    .form__field {

                        &:required,
                        &:invalid {
                            box-shadow: none;
                        }

                        &:required {
                            // border-color: rgba($color: red, $alpha: .85);
                            // padding-bottom: 6px;
                            // font-weight: 700;
                            // border-width: 3px;
                            // border-image-slice: 1;
                        }
                    }

                    span.form__field__error {
                        color: rgba($color: red, $alpha: 1.0);
                        font-size: 12px;
                        font-weight: 600;
                    }
                }

                button.contact-us-content__form__button {
                    font-weight: 500;
                    border: 2px solid rgba($color: $color-pink-light, $alpha: .95);
                    background-color: rgba($color: $color-pink-light, $alpha: 1.0);
                    border-radius: 4px;
                    padding: 0;
                    width: 120px;
                    color: rgba($color: $color-light-2, $alpha: .8);
                    margin: 2rem 0 2rem 1rem;
                    font-size: 1.15rem;

                    &:hover,
                    &:focus {
                        color: rgba($color: $color-light-2, $alpha: 1.0);
                        border: 2px solid rgba($color: $color-pink-light, $alpha: 1.0);
                    }

                }
            }
        }

    }
}