@import './base';

nav.main-navbar {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: auto 1rem;
    // top: 0;
    // background-color: rgba($color: $color-gray-2, $alpha: 1.0);

    div.main-navbar__hamburger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 45px;
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 10001;

        span.ti-menu {
            color: rgba($color: $color-font, $alpha: .75);
            height: 100%;
            width: 100%;
            font-size: 30px;

            &:hover {
                color: rgba($color: $color-font, $alpha: 1.0);
            }
        }
    }

    img.main-navbar__logo {
        height: 45px;
        width: 45px;
        position: fixed;
        top: .5rem;
        left: 2rem;
    }
}

div.collapse#coll-navbar {
    position: fixed;
    transform: translate(100%, 0);
    transition: transform .4s ease-in-out;
}

div.collapse.show#coll-navbar {
    position: fixed;
    height: 100%;
    right: 0;
    padding-right: 1rem;
    top: 0;
    background-color: rgba($color:$color-banner-box, $alpha: 1.0);
    width: 250px;
    transform: translate(0, 0);
    transition: transform .4s ease-in-out;
    overflow-y: auto;
    // z-index: 10;

    ul.navbar-nav {
        padding-top: 4rem;
        // z-index: 1000;
        background-color: rgba($color: $color-banner-box, $alpha: 1.0);

        li.nav-item {
            padding: 1rem 1rem;

            a.nav-link.nav-link-menu {
                width: 100%;
                height: 100%;
                padding: 0;
                color: rgba($color: $color-font, $alpha: .75);

                &:hover {
                    color: rgba($color: $color-font, $alpha: 1.0);
                }
            }
            a.nav-link.nav-link-menu.nav-link-signup {
                font-size: 16px;
                font-weight: 600;
                color: $color-button;
    
                &:hover {
                    color: rgba($color: $color-font, $alpha: 1.0);
                }
            }
        }
    }
}

div.collapsing#coll-navbar {
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    padding-right: 1rem;
    background-color: rgba($color: $color-banner-box, $alpha: 1.0);
    width: 250px;
    transform: translate(100%, 0);
    transition: transform .4s ease-in-out;

    ul.navbar-nav {
        overflow-y: auto;
        padding-top: 4rem;

        li.nav-item {
            padding: 1rem 1rem;

            a.nav-link.nav-link-menu {
                width: 100%;
                height: 100%;
                padding: 0;
                color: rgba($color: $color-font, $alpha: .75);

                &:hover {
                    color: rgba($color: $color-font, $alpha: 1.0);
                }
            }
            a.nav-link.nav-link-menu.nav-link-signup {
                font-size: 16px;
                font-weight: 600;
                color: $color-button;
    
                &:hover {
                    color: rgba($color: $color-font, $alpha: 1.0);
                }
            }
        }
    }
}